button {
    height: auto;
    min-height: 30px;
    width: auto;
    min-width: 30px;
    outline: none;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button.current {
    box-shadow: 0 0 0 2px white, 0 0 0 4px black;
}