$white: #FFFFFF;
$porcelain: #F8F8F8;
$alabaster: #F3F4F5;
$gallery: #EEEEEE;
$alto-light: #DEDEDE;
$alto-dark: #CFCFCF;

$pantone: #B4B4B4;
$uniform-gray: #A8A8A8;
$gray-of-darkness: #A2A2A2;
$spanish-gray: #969696;
$tin: #909090;
$black-mana: #848484;
$steel: #787878;
$dove-gray-light: #727272;
$dove-gray-dark: #666666;
$scorpion: #606060;
$emperor: #545454;
$tundora: #484848;
$mine-shaft-light: #363636;
$mine-shaft-dark: #242424;
$cod-gray: #121212;
$black: #000000;