@import "./variables.scss";

h1, h2, h3, h4 {
    font-family: "Open-Sans", Arial, Helvetica, sans-serif;
}

h1 {
    font-size: 20px;
    margin-top: $paddingless;
    margin-bottom: $marginless;
    padding: $padding-large;
}

h2 {
    font-size: 16px;
}

h3 {
    font-size: 12px;
}

h4 {
    font-size: 10px;
}

p, span {
    font-size: 12px;
}

@media (prefers-color-scheme: dark) {
    h1, h2, h3, h4, h5, h6, p, span {
        color: $alto-light;
    }

    a {
        color: $cobalt-link;
    
        &:visited {
            opacity: 0.4;
        }
    }
}

@media (prefers-color-scheme: light) {
    h1, h2, h3, h4, h5, h6, p, span {
        color: $tundora;
    }

    a {
        opacity: 0.7;
    
        &:visited {
            opacity: 0.6;
        }
    }
}