@import "./variables.scss";
@import "./button.scss";
@import "./font.scss";
@import "./format.scss";

html {
    min-width: 250px;
    min-height: 100px;
}

body {
    padding: $paddingless;
    margin: $marginless;
}

::-webkit-scrollbar {
    width: 10px;
}

#jsonld-viewer {
    background-color: transparent !important;
}

.jv-dark-current, .jv-light-current {
    padding-left: 15px !important;
    line-height: 20px !important;
}

.jv-folder > .jv-dark-folder,
.jv-folder > .jv-light-folder {
    top: 7px !important;
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: $mine-shaft-dark;
    }
    
    /* Track */
    ::-webkit-scrollbar-track {
        background: #AAAAAA;
    }
    
    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: #666;
    }
    
    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: #444;
    }
}

@media (prefers-color-scheme: light) {
    body {
        background-color: $porcelain;
    }

    /* Track */
    ::-webkit-scrollbar-track {
        background: #f1f1f1;
    }
    
    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: #888;
    }
    
    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: #555;
    }
}

#jsonld-viewer-container {
    min-height: 30px;
    padding: $paddingless $padding-large;
}